<h1 class='text-center'>Edit your Holiday</h1>
<%= form_with(model: @holiday, url:"/holidays/edit/#{@holiday.id}", html: {class: "form-add-holiday"}) do |f| %>
  <div class='form-group'>
    <%= label_tag(:title, "The title")%>
    <%= f.text_field :title, class:'form-control' %>
  </div>
  <div class='form-group'>
    <%= label_tag(:description, "Description")%>
    <%= f.text_area :description, class:"form-control" %>
  </div>
  <div class='form-group'>
    <%= label_tag(:pictureUrl, "Picture Url")%>
    <%= f.file_field :pictureUrl, accept:
  'image/png,image/gif,image/jpeg,image/jpg', class: "form-control-file" %>
  </div>
  <div class='form-group'>
    <%= label_tag(:price, "Price")%>
    <%= f.text_field :price, class:"form-control" %>
  </div>
  <%= f.submit "Create", class:"btn btn-primary" %>
<% end %>
