<h1 class='text-center mt-3'>View your products</h1>
<div class='row'>
  <% @holidays.each do |holiday| %>
    <div class="col col-12 col-sm-6 col-md-4 mt-2 row-eq-height">
      <div class="card" style="height:100%">
        <div class="card-body">
          <h2>Title: <%= holiday.title %></h2>
          <%= image_tag(holiday.pictureUrl.service_url, class:"img-thumbnail") %>
          <p><span style="font-weight:bold">Description: </span> <%= holiday.description %></p>
          <p><span style="font-weight:bold">Price: </span> <%= holiday.price %></p>
          <button><%= link_to("Edit", "/holidays/edit/#{holiday.id}") %></button>
          <button><%= link_to "Destroy", "/holidays/destroy/#{holiday.id}", method: :delete, data: {confirm:"are you sure?"} %></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
