<h1>Create a holiday in Holiday route</h1>
<%= form_with(model: @holiday, url:holidays_new_path) do |f| %>
  <%= label_tag(:title, "The title")%>
  <%= f.text_field :title %>
  <%= label_tag(:description, "Description")%>
  <%= f.text_area :description, size: "60x12" %>
  <%= label_tag(:pictureUrl, "Picture Url")%>
  <%= f.label :picture %> <%= f.file_field :pictureUrl, accept:
  'image/png,image/gif,image/jpeg,image/jpg' %>
  <%= label_tag(:price, "Price")%>
  <%= f.text_field :price %>
  <%= f.submit "Create" %>
<% end %>
