<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>
<h1><%= @holiday.title %></h1>
<h2>Description</h2>
<p><%= @holiday.description %></p>
<button>Pay Deposit <%= number_to_currency(@holiday.price) %></button>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );
  
      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>
